<ion-content [fullscreen] = "true">
  
  <form (submit)="onSubmit()" >

<app-header></app-header>
    <app-input label = "Email" type="email" [clear]="true" [controller] = emailController  ></app-input>
    <app-input label = "Password:" type = "password" [clear]="true" [controller] = passwordController></app-input>
    
    <app-button textButton = "Sign In" shape="round" type = "submit"> </app-button>
    <app-button textButton = "Sign Up" shape="round" (click)="goToRegister()" > </app-button>

  </form>
</ion-content>